// Colors
$text-primary: hsl(238, 29%, 16%);
$text-secondary: hsl(237, 12%, 33%);
$text-tertiary: hsl(240, 6%, 50%);

$divider-color: hsl(240, 5%, 91%);

$arrow-color: hsl(14, 88%, 65%);

// Gradient
$gradient-light: hsl(273, 75%, 66%);
$gradient-dark: hsl(240, 73%, 65%);
